footer {
  background: #F2F2F2;
  width: 100%;
  box-shadow: inset 0px 7px 16px -6px;
  height: 10vh;

  display: grid;
  grid-template-columns: 23% auto 25%;  
  grid-template-rows: 1fr 1fr;

}

.item-a{

  .socialMedia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    
    .fab {
      font-size: 30px;
      text-align: center;
      text-decoration: none;
      line-height: 5vh;
    }
    
    /* Add a hover effect if you want */
    .fa:hover {
      opacity: 0.7;
    }
    
    /* Set a specific color for each brand */
    
    /* Facebook */
    .fa-facebook-f {
      background: #3B5998;
      color: white;
    }
    
    /* Twitter */
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    /* Instagram */
    .fa-instagram {
      background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      color: white;
    }

    /* Facebook Messenger */
    .fa-facebook-messenger {
      background: #0084FF; 
      color: white;
    }
  }

}

.item-b {
  padding-right: 22%;
  color: white;
  a {
    text-decoration: none;
    color:black;

    h3 {
      margin:15px 0;
    }
  }
}


.item-c {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  
  a {
    color:black;
    text-decoration: none;
    font-size: larger;
  }
}

.item {
  //border: solid 3px black;
  grid-row: 1 / 3;

}