:host {
    display: block;
     //   border: 1px solid black;
}

footer {
    overflow: hidden; // position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /* border-top: 1px solid #ffffffb0; */
    /* padding: 4px 50px; */
    /* box-shadow: 0px 0px 15px #333; */
    /* background: #1e252f; */
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
}

.item-a {
    .socialMedia {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        div {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
        .fab {
            font-size: 6vw;
            text-align: center;
            text-decoration: none;
            line-height: 10vw;
            border-radius: 50%;
            width: 10vw;
            height: 10vw;
        }
        /* Add a hover effect if you want */
        .fa:hover {
            opacity: 0.7;
        }
        /* Set a specific color for each brand */
        /* Facebook */
        .fa-facebook-f {
            //   background: #3B5998;
            color: white;
        }
        /* Twitter */
        .fa-twitter {
            //   background: #55ACEE;
            color: white;
        }
        /* Instagram */
        .fa-instagram {
            /*   background: #f09433;
            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1); */
            color: white;
        }
        /* Facebook Messenger */
        .fa-facebook-messenger {
            //   background: #0084FF;
            color: white;
        }
    }
}

.item-b {
    color: white;
    align-self: center;
    justify-content: center;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    h3 {
        margin: 0;
    }
}

.item-c {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-start;
    a {
        color: #ffffff;
        text-decoration: none;
        font-size: larger;
        display: flex;
        padding: 9px;
        /* border-radius: 11px; */
        /* background: white; */
        /* box-shadow: 0px 0px 3px 1px #33333359; */
        /* width: 70%; */
        justify-content: center;
        align-items: center;
    }
    .bigScreen {
        display: none;
    }
}

.item {
    //border: solid 3px black;
    grid-row: 1 / 3;
}

@media only screen and (min-width: 600px) {
    .item-a {
        .socialMedia {
            .fab {
                font-size: 4.5vw;
                line-height: 7.5vw;
                width: 7.5vw;
                height: 7.5vw;
            }
        }
    }
    .item-b {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
    }
    .item-c {
        font-size: 1.4em;
    }
}

/* Desktop Design */

@media only screen and (min-width: 1025px) {
    .item-a {
        .socialMedia {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            .fab {
                font-size: 2.5vw;
                line-height: 4.5vw;
                width: 4.5vw;
                height: 4.5vw;
            }
        }
    }
    .enter-br {
        display: none;
    }
    .item-c {
        .bigScreen {
            display: inline;
        }
    }
}