<footer class = "container" dir="rtl">
  <div class="item item-a">
    <div class="socialMedia">
        <a href="https://www.facebook.com/aarealestate7/" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="https://www.instagram.com/aa_realestatetlv/" class="fab fa-instagram"></a>
        <a href="http://m.me/aarealestate7/" class="fab fa-facebook-messenger"></a>


    </div>
  </div>
  <div class="item item-b">
    <a href="https://goo.gl/maps/3L1N5rQX5bG2">
      <h3>כתובת</h3>
      <span>גרשון ש"ץ 16, תל אביב</span>
    </a>
    
  </div>
  <div class="item item-c"> 
      <a href="tel:+972548117374"><i ><mat-icon>phone</mat-icon></i> אריאל </a>
      <a href="tel:+972546460629"><i ><mat-icon>phone</mat-icon></i>  ליאור </a>
  </div>
</footer>
