<footer class = "container" dir="rtl">
  <div class="item item-a">
    <div class="socialMedia">
        <div >
            <a href="https://www.facebook.com/aarealestate7/" class="fab fa-facebook-f"></a>
        </div>
        <div>
            <a href="#" class="fab fa-twitter"></a>
        </div>
        <div>
            <a href="https://www.instagram.com/aa_realestatetlv/" class="fab fa-instagram"></a>
        </div>
        <div>
            <a href="http://m.me/aarealestate7/" class="fab fa-facebook-messenger"></a>
        </div>
    </div>
  </div>
  <div class="item item-b">
    <a href="https://goo.gl/maps/iwpDa7uF6RQ2">
      <h3>כתובת</h3>
      <span>גרשון ש"ץ 16, </span>
      <br class="enter-br"/>
      <span >תל אביב</span>

    </a>
    
  </div>
  <div class="item item-c"> 
      <a href="tel:+972546460629"><mat-icon style="margin: 0 5px">phone</mat-icon>  <span class="enter-br">צור קשר</span>    <span class="bigScreen"> 054-646-0629</span></a>
  </div>
</footer>
