.container {
    display: flex;
    justify-content: center;
    direction: rtl;
}

form {
    background: #fff;
    width: 60vw;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 4px #171717;
}

h1 {
    margin: 0;
}

/* Tablet Design */

@media only screen and (min-width: 600px) {
    form {
        width: 40vw;
    }
}

/* Desktop Design */

@media only screen and (min-width: 1025px) {
    form {
        width: 20vw;
    }
}