$url: "./assets/img/landing-bg.jpg";

.container {
  overflow: hidden;
  height: 90vh;
}

.bg-image {
  background-image: url($url);

  filter: blur(5px);
  -webkit-filter: blur(5px);

  transform: scale(1.01);

  height: inherit;
  width: 100%;

  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.route {
  display: block;
  position: relative;
  padding-top: 7vh;
//padding-left: 5vw;
  // padding-right: 5vw;
}

.navbar {
  position: relative;
  top:3vh;
  width: 100%;
}
