<div *ngIf="state=='homepage'" dir="rtl" class="apts-heading">
  <h3>דירות חדשות</h3>
  <a (click)="openDialog()" class="searchIcon">
    <mat-icon inline="true">search</mat-icon> <span> חפש דירה </span>
  </a>
</div>

<div *ngIf="state=='search'" dir="rtl" class="apts-heading">
  <h3>תוצאות חיפוש</h3>
  <a (click)="toHomepage()" class="searchIcon">
    <mat-icon inline="true">arrow_back</mat-icon>
  </a>
</div>
<div class="slider" dir="rtl" #widgetsContent>

  <div class="navArrows">
    <button mat-mini-fab (click)="scrollRight()">
      <mat-icon >
          navigate_next
      </mat-icon>
    </button>
    <button mat-mini-fab (click)="scrollLeft()">
      <mat-icon>
        navigate_before
      </mat-icon>
    </button>
  </div>

  <div *ngFor="let apt of apts" class="apt">

    <a routerLink href routerLink="/detail/{{apt.id}}">

      <img class="coverImg" src="https://aa-realestate.co.il/aptImages/{{apt.id}}/{{apt.photos[0]}}" alt="">

      <div class="aptContent">

        <div>
          <h2 class="title">{{apt.city}}</h2>
          <p class="subTitle">{{apt.description}}</p>
        </div>


        <ul class="extraInfo">
          <p>
            <li> {{apt.rooms}} חדרים</li>
            <li> קומה {{apt.floor}} </li>
          </p>
        </ul>

        <div class="links" dir="ltr">
          <a>למידע נוסף </a>
        </div>
      </div>


    </a>

  </div>

</div>

<!--
<cdk-virtual-scroll-viewport [itemSize]="70" orientation="horizontal" class="slider" dir="rtl">
  <div *cdkVirtualFor="let apt of apts" class="apt">
    <h2 class="title">{{apt.city}}</h2>
  </div>

</cdk-virtual-scroll-viewport>
-->