<!-- <ul class="apts">
  <li *ngFor="let apt of apts">
    <a routerLink="/detail/{{apt.id}}">
      <span class="badge">{{apt.id}}, {{apt.address}}</span> 
    </a>
    <img style="width:1000px" src="https://aa-realestate.co.il/aptImages/{{apt.id}}/{{apt.photos[0]}}" alt="">
    <img style="width:1000px" src="https://aa-realestate.co.il/aptImages/{{apt.id}}/{{apt.photos[1]}}" alt="">
    <img style="width:1000px" src="https://aa-realestate.co.il/aptImages/{{apt.id}}/{{apt.photos[2]}}" alt="">

    <button class="delete" title="delete apt"
      (click)="delete(apt)">x</button>
  </li>
</ul>
-->

<div class="slider" >
  <div  *ngFor="let apt of apts" class="apt">
    <a routerLink="/detail/{{apt.id}}">
      <img class="coverImg" src="https://aa-realestate.co.il/aptImages/{{apt.id}}/{{apt.photos[0]}}" alt="">


      <h1 class="badge">{{apt.id}}</h1> 
      <span> {{apt.address}} </span>

    </a>
    
  </div>

</div>