.slider {
    /* line them up horizontally */
    display: flex;
  
    /* allow for scrolling */
    overflow-x: auto;
  
    /* make it smooth on iOS */
    -webkit-overflow-scrolling: touch;

    /* each slide snaps into place */
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: x mandatory;
    flex-flow: row nowrap;

    
  }


  .apt{
        /* make sure the width is honored */
        flex-shrink: 0;
        width: 70vw;
        height: 40vh;
    
        scroll-snap-align: center;
        overflow: hidden;
    
        border-radius: 30px;
    
        background: #eeeeee;
        margin: 0 5px;

        .coverImg {
            width:100%;
            height: 60%;
        }
  }