<!-- <ul class="apts">
  <li *ngFor="let apt of apts">
    <a routerLink="/detail/{{apt.id}}">
      <span class="badge">{{apt.id}}, {{apt.address}}</span> 
    </a>
    <img style="width:1000px" src="https://aa-realestate.co.il/aptImages/{{apt.id}}/{{apt.photos[0]}}" alt="">
    <img style="width:1000px" src="https://aa-realestate.co.il/aptImages/{{apt.id}}/{{apt.photos[1]}}" alt="">
    <img style="width:1000px" src="https://aa-realestate.co.il/aptImages/{{apt.id}}/{{apt.photos[2]}}" alt="">

    <button class="delete" title="delete apt"
      (click)="delete(apt)">x</button>
  </li>
</ul>
-->

<div class="slider" dir="rtl" >
  <div  *ngFor="let apt of apts" class="apt" >
    <a routerLink="/detail/{{apt.id}}">
      <img class="coverImg" src="https://aa-realestate.co.il/aptImages/{{apt.id}}/{{apt.photos[0]}}" alt="">

      <div class="aptContent">

        <div>
            <h2 class="title">{{apt.city}}</h2> 
            <span> {{apt.address}} </span>
        </div>

        <ul class="extraInfo">
            <li> {{apt.rooms}}  חדרים</li>
            <li> קומה {{apt.floor}} </li>
        </ul>

        <div class="links" dir="ltr">
          <a>למידע נוסף </a>
        </div>     
      </div>
      

    </a>
    
  </div>

</div>