<section>
    <nav class="navbar">

        <a routerLink="/home" (click)="setHomePage()" class="logo">
            <img src="./assets/img/logo.png" alt="A&A RealEstate">
            <h1>
                <span style="color:#E7C977;">Real </span>
                <h2 style="color:#CDCDCD;">Estate</h2>
            </h1>
        </a>
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i>
                <mat-icon>menu</mat-icon>
            </i>
        </span>
        <ul class="main-nav" id="js-menu">
            <li>
                <a routerLink="/home" (click)="setHomePage()" routerLinkActive="active" class="nav-links">דף הבית</a>
            </li>
            <li>
                <a routerLink="/projects"  (click)="setHomePage()" routerLinkActive="active" class="nav-links">פרוייקטים</a>
            </li>
            <li>
                <a routerLink="/admin"  (click)="setHomePage()" routerLinkActive="active" class="nav-links">אודות</a>
            </li>
        </ul>
    </nav>

</section>