

<section>
  <nav class="navbar">

          <a  (click)="goHome()" routerLink="/home" class="logo" >
          <h1>A&A</h1>
          <h2>
            <span style="color:#E7C977;">Real </span>
            <span style="color:#CDCDCD;">Estate</span>
          </h2>
        </a>
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i ><mat-icon>menu</mat-icon></i>
        </span>
          <ul class="main-nav" id="js-menu">
              <li>
                  <a routerLink="/home" (click)="goHome()" routerLinkActive="active" class="nav-links">דף הבית</a>
              </li>
              <li>
                  <a routerLink="/projects" (click)="goHome()" routerLinkActive="active" class="nav-links">פרוייקטים</a>
              </li>
              <li>
                  <a routerLink="/about" (click)="goHome()"  routerLinkActive="active" class="nav-links">אודות</a>
              </li>
              <li>
                <a routerLink="/admin" (click)="goHome()"  routerLinkActive="active" class="nav-links">Admin</a>
            </li>

          </ul>
      </nav>

</section>
