.outerContainer {
    display: flex;
    justify-content: center;
}

.innerContainer {
    background: #fff;
    border-radius: 30px;
    width: 90vw;
    padding: 10px;
}

.heading {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* Tablet Design */

@media only screen and (min-width: 600px) {
    .innerContainer {
        width: 50vw;
    }
}

/* Desktop Design */

@media only screen and (min-width: 1025px) {
    .innerContainer {
        width: 40vw;
    }
}