<h1 mat-dialog-title dir="rtl">הוסף דירה</h1>
<div mat-dialog-content dir="rtl">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  min-height: 50vh">

    <div class="form-group">
      <mat-form-field>
        <input type="text" formControlName="city" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" matInput placeholder="עיר" />
      </mat-form-field>
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">City is required</div>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input type="text" formControlName="address" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.address.errors }" matInput placeholder="כתובת" />
      </mat-form-field>
      <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
        <div *ngIf="f.address.errors.required">Address is required</div>
      </div>
    </div>

    <div class="form-group">
        <mat-form-field>
          <input type="number" formControlName="rooms" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.rooms.errors }" matInput placeholder="חדרים" />
        </mat-form-field>
        <div *ngIf="submitted && f.rooms.errors" class="invalid-feedback">
          <div *ngIf="f.rooms.errors.required">Rooms is required</div>
        </div>
      </div>
      
    <div class="form-group">
      <mat-form-field>
        <input type="number" formControlName="floor" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.floor.errors }" matInput placeholder="קומה" />
      </mat-form-field>
      <div *ngIf="submitted && f.floor.errors" class="invalid-feedback">
        <div *ngIf="f.floor.errors.required">Floor is required</div>
      </div>
    </div>

    <div class="form-group" style="display: flex; flex-direction: column; justify-content: space-evenly;">
        <mat-checkbox formControlName="parking" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.parking.errors }">
          חניה?
        </mat-checkbox>
        <div *ngIf="submitted && f.sqrMtr.errors" class="invalid-feedback">
          <div *ngIf="f.parking.errors.required">Parking is required</div>
        </div>
      
        <mat-checkbox formControlName="storage" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.storage.errors }">
          אחסון נוסף?
        </mat-checkbox>
        <div *ngIf="submitted && f.storage.errors" class="invalid-feedback">
          <div *ngIf="f.storage.errors.required">Storage is required</div>
        </div>
      </div>

    <div class="form-group">
      <mat-form-field>
        <input type="number" formControlName="sqrMtr" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.sqrMtr.errors }" matInput placeholder="גודל" />
        <span matSuffix>מ"ר</span>
      </mat-form-field>
      <div *ngIf="submitted && f.sqrMtr.errors" class="invalid-feedback">
        <div *ngIf="f.sqrMtr.errors.required">sqrMtr is required</div>
      </div>
    </div>

    

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="ארנונה" type="number" formControlName="arnona" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.arnona.errors }" />
        <span matPrefix>₪&nbsp;</span>
      </mat-form-field>
      <div *ngIf="submitted && f.arnona.errors" class="invalid-feedback">
        <div *ngIf="f.arnona.errors.required">arnona is required</div>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="ועד בית" type="number" formControlName="vaad" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.vaad.errors }" />
        <span matPrefix>₪&nbsp;</span>

      </mat-form-field>
      <div *ngIf="submitted && f.vaad.errors" class="invalid-feedback">
        <div *ngIf="f.vaad.errors.required">vaad is required</div>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="מחיר הדירה" type="number" formControlName="price" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
        <span matPrefix>₪&nbsp;</span>
      </mat-form-field>
      <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
        <div *ngIf="f.price.errors.required">price is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>תמונות</label>
      <input type="file" formControlName="aptImage" class="form-control" (change)="onFileChanged($event)" #aptImage multiple />
      <div *ngIf="submitted " class="invalid-feedback">
      </div>
    </div>

    <div mat-dialog-actions class="form-group">
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-button cdkFocusInitial type="submit">Ok</button>
    </div>
  </form>
</div>